/** 
    @history    2017, Thierry Graff : Creation
**/

@import "normalize.css";

/* ================ Normalization ================ */
*{
    box-sizing:border-box;
}
body{
    font-size:1em;
}                                                                                

/* 
.flex-wrap{
    display:flex;
    flex-wrap:wrap;
}
.flex-center{
    justify-content:center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.flex-col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
*/

ul.spaced,
ol.spaced{
    margin-top:.8rem;
}
ul.spaced>li,
ol.spaced>li{
    padding-bottom:.8rem;
}
ul.spaced03,
ol.spaced03{
    margin-top:.3rem;
}
ul.spaced03>li,
ol.spaced03>li{
    padding-bottom:.3rem;
}
ul.naked>li,
ol.naked>li{
    list-style-type:none;
}
ul.simple{
    list-style-type: '- ';
}

img{display:block;}

figure{
  margin:auto;
  display:inline-block;
}
figcaption{
    text-align:center;
}

.page-break-before{page-break-before:always;}

.whitespace-nowrap{white-space:nowrap;}
.whitespace-pre{white-space:pre;}

.float-left{float:left;}
.clear-left{clear:left;}
.float-right{float:right;}
.clear-right{clear:right;}
.clear-both{clear:both;}

.inline{display:inline;}
.inline-block{display:inline-block;}
.block{display:block;}

.arial{font-family:Arial,Helvetica,sans-serif;}
.courier{font-family:"Courier New",Courier,monospace;}
.dejavu{font-family:DejaVu,serif;}

.bold{font-weight:bold;}
.normal{font-weight:normal;}
.word-spacing{word-spacing:1em;}

.center{text-align:center;}
.justify{text-align:justify;}
.right{text-align:right;}
.left{text-align:left;}

.vertical-align-top{vertical-align:top;}
.vertical-align-middle{vertical-align:middle;}

.border-none{border:none;}
.border-radius10{border-radius:10px;}
.border{border:1px solid grey;}
.border2{border:2px solid grey;}
.border-left{border-left:1px solid grey;}
.border-right{border-right:1px solid grey;}
.border-top{border-top:1px solid grey;}
.border-bottom{border-bottom:1px solid grey;}

.margin-auto{margin:auto;}
.margin{margin:1rem;}
.margin0{margin:0;}
.margin02{margin:.2rem;}
.margin03{margin:.3rem;}
.margin04{margin:.4rem;}
.margin05{margin:.5rem;}
.margin2{margin:2rem;}
.margin3{margin:3rem;}
.margin4{margin:4rem;}

.margin-top{margin-top:1rem;}                            
.margin-top0{margin-top:0;}
.margin-top02{margin-top:.2rem;}
.margin-top03{margin-top:.3rem;}
.margin-top04{margin-top:.4rem;}
.margin-top05{margin-top:.5rem;}
.margin-top2{margin-top:2rem;}
.margin-top3{margin-top:3rem;}
.margin-top4{margin-top:4rem;}

.margin-left{margin-left:1rem;}
.margin-left0{margin-left:0;}
.margin-left02{margin-left:.2rem;}
.margin-left03{margin-left:.3rem;}
.margin-left04{margin-left:.4rem;}
.margin-left05{margin-left:.5rem;}
.margin-left2{margin-left:2rem;}
.margin-left3{margin-left:3rem;}
.margin-left4{margin-left:4rem;}

.margin-bottom{margin-bottom:1rem;}                            
.margin-bottom0{margin-bottom:0;}
.margin-bottom02{margin-bottom:.2rem;}
.margin-bottom03{margin-bottom:.3rem;}
.margin-bottom04{margin-bottom:.4rem;}
.margin-bottom05{margin-bottom:.5rem;}
.margin-bottom2{margin-bottom:2rem;}
.margin-bottom3{margin-bottom:3rem;}
.margin-bottom4{margin-bottom:4rem;}

.margin-right{margin-right:1rem;}
.margin-right0{margin-right:0;}
.margin-right02{margin-right:.2rem;}
.margin-right03{margin-right:.3rem;}
.margin-right04{margin-right:.4rem;}
.margin-right05{margin-right:.5rem;}
.margin-right2{margin-right:2rem;}
.margin-right3{margin-right:3rem;}
.margin-right4{margin-right:4rem;}

.padding{padding:1rem;}
.padding0{padding:0;}
.padding02{padding:.2rem;}
.padding03{padding:.3rem;}
.padding04{padding:.4rem;}
.padding05{padding:.5rem;}
.padding2{padding:2rem;}
.padding3{padding:3rem;}
.padding4{padding:4rem;}

.padding-top{padding-top:1rem;}
.padding-top0{padding-top:0;}
.padding-top02{padding-top:.2rem;}
.padding-top03{padding-top:.3rem;}
.padding-top04{padding-top:.4rem;}
.padding-top05{padding-top:.5rem;}
.padding-top2{padding-top:2rem;}
.padding-top3{padding-top:3rem;}
.padding-top4{padding-top:4rem;}

.padding-left{padding-left:1rem;}
.padding-left0{padding-left:0;}                                      
.padding-left02{padding-left:.2rem;}
.padding-left03{padding-left:.3rem;}
.padding-left04{padding-left:.4rem;}
.padding-left05{padding-left:.5rem;}
.padding-left2{padding-left:2rem;}
.padding-left3{padding-left:3rem;}
.padding-left4{padding-left:4rem;}

.padding-bottom{padding-bottom:1rem;}
.padding-bottom0{padding-bottom:0;}
.padding-bottom02{padding-bottom:.2rem;}
.padding-bottom03{padding-bottom:.3rem;}
.padding-bottom04{padding-bottom:.4rem;}
.padding-bottom05{padding-bottom:.5rem;}
.padding-bottom2{padding-bottom:2rem;}
.padding-bottom3{padding-bottom:3rem;}
.padding-bottom4{padding-bottom:4rem;}

.padding-right{padding-right:1rem;}
.padding-right0{padding-right:0;}
.padding-right02{padding-right:.2rem;}
.padding-right03{padding-right:.3rem;}
.padding-right04{padding-right:.4rem;}
.padding-right05{padding-right:.5rem;}
.padding-right2{padding-right:2rem;}
.padding-right3{padding-right:3rem;}
.padding-right4{padding-right:4rem;}

.top-pad{position:relative; top:1em;}
.top-pad2{position:relative; top:2em;}
.right-pad{position:relative; right:1em;}
.right-pad2{position:relative; right:2em;}
.bottom-pad{position:relative; bottom:1em;}
.bottom-pad2{position:relative; bottom:2em;}
.left-pad{position:relative; left:1em;}
.left-pad2{position:relative; left:2em;}

.big1{font-size:1.1rem;}
.big2{font-size:1.2rem;}
.big3{font-size:1.3rem;}
.big4{font-size:1.4rem;}
.big5{font-size:1.5rem;}
.big20{font-size:2rem;}
.big30{font-size:3rem;}
.big40{font-size:4rem;}

.small9{font-size:.9rem;}
.small8{font-size:.8rem;}
.small7{font-size:.7rem;}
.small6{font-size:.6rem;}

.width3{width:3rem;}
.width5{width:5rem;}
.width8{width:8rem;}
.width10{width:10rem;}
.width15{width:15rem;}
.width20{width:20rem;}
.width25{width:25rem;}
.width30{width:30rem;}

/* ================ Cursor ================ */
.cursor-default {cursor:default;}
.cursor-pointer {cursor:pointer;}
.cursor-help {cursor:help;}

/* ================ Colors ================ */
.background-none{background:none;}
